{% load static %} <!-- it is used to load all static files: css,js,images-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TalentoLink</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
  <header>
    <!--nav bar-->
    <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-12"></div>
          <nav class="navbar navbar-expand-lg bg-dark text-white">
              <div class="container-fluid">
                  <h1><i style="padding-left:10px;">TalentoLink</i></h1>
                  <div class="navbar-nav ms-auto ">
                      <a class="nav-link active text-white" aria-current="page" href="{% url 'Home' %}">Home</a>
                      <a class="nav-link text-white" href="{% url 'About' %}">About Us</a>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-white" href="{% url 'Service' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Service' %}">Resume Writing</a></li>
                            <li><a class="dropdown-item" href="{% url 'Service' %}">Find Jobs</a></li>
                            <li><a class="dropdown-item" href="{% url 'Service' %}">Get Recuriters Attention</a></li>
                            <li><a class="dropdown-item" href="{% url 'Service' %}">Montly Subscriptions</a></li>
                            <li><a class="dropdown-item" href="{% url 'Service' %}">Free Resume Resources</a></li>
                          </ul>
                        </li>
                        <a class="nav-link text-white" href="{% url 'Contact' %}">Contact Us</a>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-white" href="{% url 'Login' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Login' %}">User's Login </a></li>
                            <li><a class="dropdown-item" href="{% url 'Register' %}">User's Registration </a></li>
                            <li><a class="dropdown-item" href="{% url 'Employee' %}">Employer's Login</a></li>
                          </ul>
                        </li>
                        <a class="nav-link text-white" href="{% url 'Job' %}">Post a Job</a>
                  </div>
              </div>
        </nav>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="search">
      <input class="input" type="text" placeholder="Job, title, keywords or company">
      <span class="search-icon">
        <i class="fa-solid fa-xmark"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
  </section>


  <div class="container">
    <div class="row">
      <div class="job" style="padding-left: 10px;" >
        <h2>QA Engineer-Internship</h2>
        <p>PureCode AI</p>
        <p>Hyderabad,Telangana</p>
        <inline>$337.5-482.2 a month   Internship+1   Day shift</inline><br><br>
        
        <a href="#"><button style="width: 90px;color: brown" class="btn btn-danger">Easily Apply</button></a>
        <ul style="list-style-type:circle;">
          <li>**As your first round assessment,please email at least 3 bugs or ways to improve the site to michael@purecodesoftware.com.</li>
          <li>Experience in web user interfaces and web technologies.</li>
        </ul> 
      </div><br>
    

      <div class="job" style="padding-left: 10px;">
        <h2>Python/Java Developer</h2>
        <p>mindcraft Software Pvt Ltd</p>
        <p>Hyderabad,Telangana</p>
        <inline>$6,629.861-$9,040.719 a year  Full-Time +2  MON-Friday +1</inline><br><br>
        
        <a href="#"><button style="width: 90px;color: brown" class="btn btn-danger">Easily Apply</button></a>
        <ul style="list-style-type:circle;">
          <li>Knowledge on Core Java,JSp,Servlets,Javascript,JSF,Design Patterns.</li>
          <li>Job Types:Full-Time,Permanent,Fresher.</li>
          <li>Total work:1year(prefered).</li>
        </ul> 
      </div><br>
    </div>

    <div class="row">
      <div class="job" style="padding-left: 10px;" >
        <h2>QA Engineer-Internship</h2>
        <p>PureCode AI</p>
        <p>Hyderabad,Telangana</p>
        <inline>$337.5-482.2 a month   Internship+1   Day shift</inline><br><br>
        
        <a href="#"><button style="width: 90px;color: brown" class="btn btn-danger">Easily Apply</button></a>
        <ul style="list-style-type:circle;">
          <li>**As your first round assessment,please email at least 3 bugs or ways to improve the site to michael@purecodesoftware.com.</li>
          <li>Experience in web user interfaces and web technologies.</li>
        </ul> 
      </div><br>

      <div class="job" style="padding-left: 10px;">
        <h2>Python/Java Developer</h2>
        <p>mindcraft Software Pvt Ltd</p>
        <p>Hyderabad,Telangana</p>
        <inline>$6,629.861-$9,040.719 a year  Full-Time +2  MON-Friday +1</inline><br><br>
        
        <a href="#"><button style="width: 90px;color: brown" class="btn btn-danger">Easily Apply</button></a>
        <ul style="list-style-type:circle;">
          <li>Knowledge on Core Java,JSp,Servlets,Javascript,JSF,Design Patterns.</li>
          <li>Job Types:Full-Time,Permanent,Fresher.</li>
          <li>Total work:1year(prefered).</li>
        </ul> 
      </div><br>
    </div>
  </div>


 <!--Footer section-->
<!-- <footer> -->
  <div class="container-fluid bg-dark" style="height: 100%">
    <div class="row">
     <div class="col-12 col-md-6 col-lg-6 col-12">
        <h1 class="text-center fw-bold text-warning ">TALENTO LINK</h1>
       <img src="{% static './images/logo.jpg' %}" alt=" no image" style="width: 400px; height: 400px;padding-top: 20px;" class="rounded-circle p-5 mx-auto d-block">
     </div>
     <div class="col-12 col-md-6 col-lg-6 col-12 ">
       <form action="">
         <div style=" height: 30px; border-radius: 20px; padding-top: 60px;">
           <!-- <button type="button" class="btn btn-danger" width="">enter a email</button> -->
           <a href="{ % static 'login2.html' % }"><button type="button" class="btn btn-outline-light"style="width:100px"> Email</button></a>
           <a href="{ % static 'signup.html' % }"><button type="button" class="btn btn-outline-danger">Subscribe</button></a>
         </div>
       </form>
         <section>
           <!-- <div class=" text-white"> -->
             <div class="box text-white">
               <div class="about">
                   <strong>About Us</strong>
                   <br><br>
                   <p>Careers</p> 
                   <p>Empolyer home</p> 
                   <p>Sitemap</p> 
                   <p>Credits</p>   
               </div>
               <div>
                 <strong>Help center</strong><br><br>
                 <p>Summons/Notices</p>
                 <p>Grievances</p>
                 <p>Report issue</p>
               </div>
               <div>
                 <strong>Privacy policy</strong><br><br>
                 <p>Terms & conditions</p>
                 <p>Fraud alert</p>
                 <p>Trust & safety</p>
               </div>
             
             </div><br><br>
             <div class="card-footer bg-dark text-white my-5" style="padding-top: 20px ;">
              <p >+91 9848326964  <a href="{ % static 'add.html' % }"><i class="bi bi-facebook px-2"></i></a> <a href="{ % static 'add.html' % }"><i
                class="bi bi-instagram px-2"></i></a> <a href="{ % static 'add.html' % }"><i class="bi bi-youtube px-2"></i></a> <a href="{ % static 'add.html' % }"><i
                class="bi bi-linkedin px-2"></i></a>
              </p>
             </div>
           <!-- </div> -->
         </section>
       
     </div>
    </div>
 </div>
<!-- </footer> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>